body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #141414;
    color: #ffffff;
    font-size: 16px;
    line-height: 150%;
}

main {
    width: min(80ch, 100% - 4rem);
    margin-inline: auto;
    margin-top:20px;
    margin-bottom:48px;
    padding: 20px;
    padding-top: 5px;
    background-color: #00000090;
}

a {
    color: #dbdbdb;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img, svg, video {
    max-width: 100%;
    display: block;
}

.link {
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px;
}

.kolom {
    flex: 1 1 calc(33.333% - 20px); 
}

@media (max-width: 720px) {
    .kolom {
        flex: 1 1 100%; 
    }
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: #14141499;
    z-index: -1;
}

body.bg-index {
    background: url("/img/bgtrioskland.webp") no-repeat center center fixed;
    background-size: cover;
}

body.bg-ark {
    background: url("/img/bgark20260217.webp") no-repeat center center fixed;
    background-size: cover;
}

body.bg-endfield {
    background: url("/img/bgendfield20260217.webp") no-repeat center center fixed;
    background-size: cover;
}